.logo {
    width: 80px;
    border-radius: 50%;
}

.colornav {
    background-color: rgba(247, 186, 206, 0.712);
}

.fondo {
    background-image: url("/imagenes/fondo.png");
}

footer{
    h1{
        margin-left: 15px;
    }
    h2{
        color: rgb(250, 126, 147);
    }
    p {
        font-size: 18px;
    }
}

body{
    p{
        font-style: italic;
    }
}

